/node_modules
/.next
# /out — mantido no git para deploy via cPanel Git Version Control
/build
.DS_Store
*.pem
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
*.tsbuildinfo
next-env.d.ts
